In [ ]:
python_class = "AWS"
FIRSTNAME = "Raphah" 
LASTNAME = "Osasere"
\
The_third_prime_number = 5
Todays_date = "26th september"

In [ ]:
print(type(python_class))
print(type(FIRSTNAME))
print(type(LASTNAME))
print(type(The_third_prime_number))
print(type(Todays_date))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>

In [ ]:
weight = 45
#length = 290578
height = 1.02
integrity = True
place = " my dog is in bed"
age = "45"

In [ ]:
print(type(weight))
#print(type(length))
print(type(height))
print(type(integrity))
print(type(place))
print(type(age))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'str'>

In [ ]:
int (2.5)

2

In [ ]:
chr (77)

'M'

In [ ]:
chr (97)

'a'

In [ ]:
chr (77 87)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2939983851.py, line 1)

In [ ]:
a=2

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
a=2.5

In [ ]:
print(type(a))

<class 'float'>

In [ ]:
a= "2.5"

In [ ]:
print(type(a))

<class 'float'>

In [ ]:
a=10

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
print(type(a))

<class 'str'>

In [ ]:
#covertion of float to intiger
num1 = 10
num2 =20
num3 = num1 + num2

In [ ]:
print("your answer is " , float(num3))

your answer is  30.0

In [ ]:
type (num3)

int

In [ ]:
num3 = float (num3)

In [ ]:
type (num3)

float

In [ ]:
#covertion of float to intiger
num1 = 10
num2 =20
num3 = num1 + num2

In [ ]:
#ATTRIBUTE OF A PERSON
num1

10

In [ ]:
mytup= [1,2,3,4,4,4,5]
var2 = [6,7,8,6,6,7,9,10,10]
tuple(var2)
print(var2)

[6, 7, 8, 9, 10, 10]

In [ ]:
Var1[4]

5

SyntaxError: unterminated string literal (detected at line 6) (2879995655.py, line 6)

In [ ]:
vim = [1,2,3,4,5]
vim.insert(3,6)
vim

[1, 2, 3, 6, 4, 5]

In [ ]:
bag = ['spoon','weeed','mirror']
bag.append("diaper")

In [ ]:
bag

['spoon', 'weeed', 'mirror', 'diaper']

In [ ]:
ebag = bag.copy()

In [ ]:
ebag == bag

True

In [ ]:
ebag.count("spoon")

1

In [ ]:
ebag.insert(4,"wig")

In [ ]:
ebag.clear()

In [ ]:
ebag

['spoon', 'weeed', 'mirror', 'diaper']

In [ ]:
ebag.insert(4,'wig')
ebag.insert(0,'wig')
ebag.insert(3,'wig')

In [ ]:
ebag

['wig', 'spoon', 'weeed', 'wig', 'mirror', 'diaper', 'wig']

In [ ]:
name = "etiosa"
def change_name(name):
    print(name)
    change_name('osas')
name

'etiosa'

In [ ]:
for number in range(10,100,10):
    print(number)

10
20
30
40
50
60
70
80
90

In [ ]:
# 40 to 50 = D
# 51 to 60 = C
# 61 to 75 = B
# 76 to 100 = A

In [ ]:
score = int(input('Enter student score: '))
print(score + 30)

60

In [20]:
score = int(input('Enter student score: '))
if score > 100:
     print("students score can not be greater than 100")
else:
    if score >= 40 and score <=50:
        print('students grade is D')
    elif score >= 50 and score  <= 60:
        print('students grade is c' )
    elif score >=70 and score <= 80:
        print('students grade is B')
    elif score >= 76 and score <= 100:
       print('students grade is A' )
    else:
        print("failed!")

students grade is c

In [25]:
score = int(input('Enter student score: '))
if score > 100:
     print("students score can not be greater than 100")
else:
    if score in range(40,50):
        print('students grade is D')
    elif score in range(51,60):
        print('students grade is c' )
    elif score in range(61,70):
        print('students grade is B')
    elif score in range(81,100):
       print('students grade is A' )
    else:
        print("failed!")

students grade is c

In [ ]:
def gradingSystem(score):
    if score > 100:
     print("students score can not be greater than 100")
    else:
        if score in range(40,50):
            print('students grade is D')
        elif score in range(51,60):
            print('students grade is c' )
        elif score in range(61,70):
            print('students grade is B')
        elif score in range(81,100):
            print('students grade is A' )
        else:
            print("failed!")

In [ ]:
score = int(input('Enter student score: '))
gradingSystem(score)

students grade is c

In [26]:
# calculating the area of a rectangle
def calculating_area(length, breadth):
    print(length * breadth)

def get_rectangle_dimensions():
    while True:
        try:
            length = float(input("Enter the length of the rectangle: "))
            breadth = float(input("Enter the breadth of the rectangle: "))
            return length, breadth
        except ValueError:
            print("Invalid input. Please enter a valid number for length and breadth.")

In [107]:
while True:
        length, breadth = get_rectangle_dimensions()
        
        area = calculating_area(length, breadth)
        break

748.2

In [30]:
five_fruits = ['grapes', 'Mango', 'kiwi','pineapple', 'Watermelon']
five_fruits.reverse()
for iteams in five_fruits:
    print(five_fruits)

['Watermelon', 'pineapple', 'kiwi', 'Mango', 'grapes']
['Watermelon', 'pineapple', 'kiwi', 'Mango', 'grapes']
['Watermelon', 'pineapple', 'kiwi', 'Mango', 'grapes']
['Watermelon', 'pineapple', 'kiwi', 'Mango', 'grapes']
['Watermelon', 'pineapple', 'kiwi', 'Mango', 'grapes']

In [49]:
#  convert Celsius to Fahrenheit
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 1.8) + 32
    print(fahrenheit)

# Get temperature in Celsius
celsius = float(input("Enter temperature in degrees Celsius: "))

# Convert to Fahrenheit
print( "Degree in fahrenheit")
fahrenheit = celsius_to_fahrenheit(celsius)

Degree in fahrenheit
77.0

In [51]:
# create variables
a = 90
b = 110

# Swap variable
temp = a 
a = b     
b = temp  

# Now, 'a' and 'b' have swapped values
print(a)
print(b)

110
90

In [105]:

# compound interest calculator

principle = 0
rate = 0
time = 0

while True:
    principle = float(input("Enter the principle amount: "))
    if principle < 0:
        print("Principle can't be less than zero")
    else:
        break

while True:
    rate = float(input("Enter the interest rate: "))
    if rate < 0:
        print("Interest rate can't be less than zero")
    else:
        break

while True:
    time = int(input("Enter the time in years: "))
    if time < 0:
        print("Time can't be less than zero")
    else:
        break

total = principle * pow((1 + rate / 100), time)
print(f"Balance after {time} year/s: Naira{total:.1f}")

Balance after 1 year/s: Naira1100.0

In [85]:
# Define the legal voting age in the country
voting_age = 18

# Get the age of the person from user input
age = voting_age
while True:
   age = (input("Enter your age: "))
   if age > '18':
       print(" eligiable to vote")
else:
    print(not eligible) 
    break

In [108]:
# Define the legal voting age in the country
voting_power = age

# Get the age of the person from user input
age = int(input("Enter your age: "))
if age < 18:
   print(" you not eligiable to vote")
else:
    print("you are eligiable to vote")

you are eligiable to vote

In [ ]:
student_name = "name"
student_email = "Email"
student_phone =  "number"

while True:
    name = input("student name")
    print(name)
    email =input("enter email address")
    print(email)
    number = input("enter number")
    print(number)
else:
    brake